@charset "UTF-8";

#social{
   width:130px; float:right; /*오른쪽에 배치*/
   margin:0px 5px 0px 0px;
   float:right;
}
#social img{
   
   float:right;
   
   margin:0px 5px 0px 0px; /*상하 바깥 여백은 0픽셀, 좌우 바깥여백을 7픽셀로 처리*/
}
#copy{
   bottom:50px;
   width:250px; float:left;/*왼쪽에 배치*/
   margin:20px 0px 0px 150px;
}

/*our-team-main*/
#footer{
   margin-top:20px;
   margin-bottom:20px;
    width: 100%;
   height: 80px
}

div h2 {
    color: #000000;
    font: small-caps bold 50px/1 sans-serif;
}
footer span{
   font: small-caps bold 15px/1 sans-serif;
   margin:0px;
   padding:5px;
   color:#000000;
   padding-bottom:0px;
   border-left:0px;
   text-align:left ;
   float: left;
}
#social{
   width:130px; float:right; /*오른쪽에 배치*/
   margin:0px 5px 0px 0px;
   float:right;
}
#social img{
   
   float:right;
   
   margin:0px 5px 0px 0px; /*상하 바깥 여백은 0픽셀, 좌우 바깥여백을 7픽셀로 처리*/
}
#copy{
   bottom:50px;
   width:250px; float:left;/*왼쪽에 배치*/
   margin:20px 0px 0px 150px;
}
figure.cloth_img{
   right:100px;
   position:fixed;
   margin:5px;
}