
    body,html{
    background:#00bcd4;
    height:100%;
    width: 100%;
    margin: 0 0 0 0;
    padding:0 0 100 0;
    
    background: #f3f3f3!important;
    }

   .searchbar{
    margin-bottom: auto;
    margin-top: auto;
    height: 60px;
    
    background-color: #353b48;
    border-radius: 30px;
    padding: 10px;
    }

    .search_input{
    color: white;
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    caret-color:transparent;
    line-height: 40px;
    transition: width 0.4s linear;
    }

    .searchbar:hover > .search_input{
    padding: 0 10px;
    width: 250px;
    caret-color:red;
    transition: width 0.4s linear;
    }

    .searchbar:hover > .search_icon{
    background: white;
    color: #e74c3c;
    }

    .search_icon{
    height: 40px;
    width: 40px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color:white;
    text-decoration:none;
    }
          
h1.text-center
{
	color:#88c4ff;
	font: small-caps bold 50px/1 sans-serif;
	margin:40px 0 40px 0;
	font-weight:300;
}
body h3.a11{
	color:#d2d2d2;
	font: small-caps bold 20px/1 sans-serif;
}


body p.a12{
	color:#88c4ff;
	font: small-caps bold 15px/1 sans-serif;
}
body span{
	display : flex;
  justify-content : center;
  text-align : center;
  padding : 30px 0;
	color:#000000;
	font: small-caps bold 15px/1 sans-serif;
	Text-Align:Center;
}
body span:hover{
	 
	color:#000000;
}
.navbar {
    background-color: #333;
    color: #400080;
    overflow: hidden;
    
}
.navbar img {
   
    padding:0px 0px 0px 0px;
    margin: 0px 70px 0px 230px;
    height: 30px;
    width:80px;
    height:80px;
}


.navbar ul {
    list-style-type: none;
    margin: 30;
    padding: 0;
    overflow: hidden;
}

.navbar li {
    float: right;
    margin: 0 10px;
}

.navbar a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}



.column-chart {
  position: relative;
  z-index: 20;
  bottom: 0;
  left: 50%;
  width: 100%;
  height: 320px;
  margin-top: 40px;
  margin-left: -50%;
}

@media (min-width: 568px) {
  .column-chart {
    width: 80%;
    margin-left: -40%;
  }
}

@media (min-width: 768px) {
  .column-chart {
    width: 60%;
    margin-left: -30%;
  }
}

@media (min-width: 992px) {
  .column-chart {
    width: 40%;
    margin-left: -20%;
  }
}

@media (min-width: 1024px) {
  .column-chart {
    width: 36%;
    margin-left: -18%;
  }
}

.column-chart:before,
.column-chart:after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: calc(100% + 30px);
  height: 25%;
  margin-left: -15px;
  border-top: 1px dashed #b4b4b5;
  border-bottom: 1px dashed #b4b4b5;
}

.column-chart:after {
  top: 50%;
}

.column-chart > .legend {
  position: absolute;
  z-index: -1;
  top: 0;
}

.column-chart > .legend.legend-left {
  left: 0;
  width: 25px;
  height: 75%;
  margin-left: -55px;
  border: 1px solid #b4b4b5;
  border-right: none;
}
html>.a11{
	color:#000000;
	font: small-caps bold 50px/1 sans-serif;
}
.column-chart > .legend.legend-left > .legend-title {
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  width: 65px;
  height: 50px;
  line-height: 50px;
  margin-top: -25px;
  margin-left: -60px;
  font-size: 28px;
  letter-spacing: 1px;
}

.column-chart > .legend.legend-right {
  right: 0;
  width: 100px;
  height: 100%;
  margin-right: -115px;
}

.column-chart > .legend.legend-right > .item {
  position: relative;
  width: 100%;
  height: 25%;
}
--
.column-chart > .legend.legend-right > .item > h4 {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 100px;
  height: 40px;
  line-height: 40px;
  margin-top: -20px;
  font-size: 16px;
  text-align: right;
}

.column-chart > .chart {
  position: relative;
  z-index: 20;
  bottom: 0;
  left: 50%;
  width: 98%;
  height: 100%;
  margin-left: -49%;
}

.column-chart > .chart > .item {
  position: relative;
  float: left;
  height: 100%;
}

.column-chart > .chart > .item:before {
  position: absolute;
  z-index: -1;
  content: '';
  bottom: 0;
  left: 50%;
  width: 1px;
  height: calc(100% + 15px);
  border-right: 1px dashed #b4b4b5;
}

.column-chart > .chart > .item > .bar {
  position: absolute;
  bottom: 0;
  left: 3px;
  width: 94%;
  height: 100%;
}

.column-chart > .chart > .item > .bar > span.percent {
  display: block;
  position: absolute;
  z-index: 25;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 26px;
  line-height: 26px;
  color: #fff;
  background-color: #3e50b4;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 1px;
}

.column-chart > .chart > .item > .bar > .item-progress {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20%;
  color: #fff;
  background-color: #ff4081;
}

.column-chart > .chart > .item > .bar > .item-progress > .title {
  position: absolute;
  top: calc(50% - 13px);
  left: 50%;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  -moz-transform: translateX(-50%) translateY(-50%) rotate(-90deg);
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(-90deg);
  transform: translateX(-50%) translateY(-50%) rotate(-90deg);
}

@media (min-width: 360px) {
  .column-chart > .chart > .item > .bar > .item-progress > .title {
    font-size: 16px;
  }
}

@media (min-width: 480px) {
  .column-chart > .chart > .item > .bar > .item-progress > .title {
    font-size: 18px;
  }
}
#footer{
   margin-top:20px;
   margin-bottom:20px;
    width: 100%;
   height: 80px
}
footer span{
	margin:0px;
	padding:5px;
	color:#000000;
	padding-bottom:0px;
	border-left:0px;
	text-align:left ;
	float: left;
}
#social{
   width:130px; float:right; /*오른쪽에 배치*/
   margin:0px 5px 0px 0px;
   float:right;
}

div h4{
	color:#91c8ff;
	
	font: small-caps bold 17px/1 sans-serif;
}
div h2{
	color:#ff9562;
	font: italic bold 30px/1 sans-serif;
}
div h3{
	color:#4c4c4c;
	font: italic bold 30px/1 sans-serif;
}
#social img{
	
	float:right;
	
   margin:0px 5px 0px 0px; /*상하 바깥 여백은 0픽셀, 좌우 바깥여백을 7픽셀로 처리*/
}
#copy{
   bottom:50px;
   width:250px; float:left;/*왼쪽에 배치*/
   margin:20px 0px 0px 150px;
}
figure.cloth_img{
   right:100px;
   position:fixed;
   margin:5px;
}